.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row{
  display: inline-flex;
  width: 100%;
  margin-top: 5%;
  justify-content: center;
}

.col-2{
  border: 1px solid black;
  padding: 20px;
  background-color: #E0E6FF;
}

.col-6{
  border: 1px solid rgb(0, 17, 255);
  padding: 20px;
  background-color: #E0E6FF;
}
.col{
  border: 1px solid palevioletred;
  background-color: #E0E6FF;
}

.square {
  height: 30px;
  width: 30px;
  background-color:#F7F7F7;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #707070;
  display: inline-flex;
  justify-content: center;
}

.green-square {
  height: 30px;
  width: 30px;
  background-color:#78df7e;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #707070;
  display: inline-flex;
  justify-content: center;
}
.high-seat{
  margin-top:9%;
}
